### Shift+Alt-F4 -- Shift+Alt+F12 ==> KEY_F64 -- KEY_F72
$KeyMaps set (KEY_ESC "[1;4S")	(KEY_F64);
$KeyMaps set (KEY_ESC "[15;4~") (KEY_F65);
$KeyMaps set (KEY_ESC "[17;4~") (KEY_F66);
$KeyMaps set (KEY_ESC "[18;4~") (KEY_F67);
$KeyMaps set (KEY_ESC "[19;4~") (KEY_F68);
$KeyMaps set (KEY_ESC "[20;4~") (KEY_F69);
$KeyMaps set (KEY_ESC "[21;4~") (KEY_F70);
$KeyMaps set (KEY_ESC "[23;4~") (KEY_F71);
$KeyMaps set (KEY_ESC "[24;4~") (KEY_F72);

### Control+Alt-F1 -- Control+Alt+F12 ==> KEY_F73 -- KEY_F84
$KeyMaps set (KEY_ESC "[1;7P") (KEY_F73);
$KeyMaps set (KEY_ESC "[1;7Q") (KEY_F74);
$KeyMaps set (KEY_ESC "[1;7R") (KEY_F75);
$KeyMaps set (KEY_ESC "[1;7S") (KEY_F76);
$KeyMaps set (KEY_ESC "[15;7~") (KEY_F77);
$KeyMaps set (KEY_ESC "[17;7~") (KEY_F78);
$KeyMaps set (KEY_ESC "[18;7~") (KEY_F79);
$KeyMaps set (KEY_ESC "[19;7~") (KEY_F80);
$KeyMaps set (KEY_ESC "[20;7~") (KEY_F81);
$KeyMaps set (KEY_ESC "[21;7~") (KEY_F82);
$KeyMaps set (KEY_ESC "[23;7~") (KEY_F83);
$KeyMaps set (KEY_ESC "[24;7~") (KEY_F84);

### Control+Shift+Alt-F1 -- Control+Shift+Alt+F12 ==> KEY_F85 -- KEY_F96
$KeyMaps set (KEY_ESC "[1;8P") (KEY_F85);
$KeyMaps set (KEY_ESC "[1;8Q") (KEY_F86);
$KeyMaps set (KEY_ESC "[1;8R") (KEY_F87);
$KeyMaps set (KEY_ESC "[1;8S") (KEY_F88);
$KeyMaps set (KEY_ESC "[15;8~") (KEY_F89);
$KeyMaps set (KEY_ESC "[17;8~") (KEY_F90);
$KeyMaps set (KEY_ESC "[18;8~") (KEY_F91);
$KeyMaps set (KEY_ESC "[19;8~") (KEY_F92);
$KeyMaps set (KEY_ESC "[20;8~") (KEY_F93);
$KeyMaps set (KEY_ESC "[21;8~") (KEY_F94);
$KeyMaps set (KEY_ESC "[23;8~") (KEY_F95);
$KeyMaps set (KEY_ESC "[24;8~") (KEY_F96);

### Control+Shift+Alt+(Insert,Delete,Home,End,PageUp,PageDown)
$KeyMaps set (KEY_ESC "[2;8~")  (kIC8);
$KeyMaps set (KEY_ESC "[3;8~")  (kDC8);
$KeyMaps set (KEY_ESC "[1;8H")  (kHOM8);
$KeyMaps set (KEY_ESC "[1;8F")  (kEND8);
$KeyMaps set (KEY_ESC "[5;8~")  (kPRV8);
$KeyMaps set (KEY_ESC "[6;8~")  (kNXT8);

### Control+Shift+Alt+(DownAllow,UpAllow,RightAllow,LeftAllow)
$KeyMaps set (KEY_ESC "[1;8B")  (kDN8);
$KeyMaps set (KEY_ESC "[1;8A")  (kUP8);
$KeyMaps set (KEY_ESC "[1;8C")  (kRIT8);
$KeyMaps set (KEY_ESC "[1;8D")  (kLFT8);

### for FreeBSD mate-terminal settings
$KeyMaps set (KEY_ESC "[1;2B") (KEY_SF);     # shift+
$KeyMaps set (KEY_ESC "[1;3B") (kDN3);       # alt+
$KeyMaps set (KEY_ESC "[1;5B") (kDN5);       # ctrl+
$KeyMaps set (KEY_ESC "[1;2A") (KEY_SR);     # shift+
$KeyMaps set (KEY_ESC "[1;3A") (kUP3);       # alt+
$KeyMaps set (KEY_ESC "[1;5A") (kUP5);       # ctrl+
$KeyMaps set (KEY_ESC "[1;2C") (KEY_SRIGHT); # shift+
$KeyMaps set (KEY_ESC "[1;3C") (kRIT3);      # alt+
$KeyMaps set (KEY_ESC "[1;5C") (kRIT5);      # ctrl+
$KeyMaps set (KEY_ESC "[1;2D") (KEY_SLEFT);  # shift+
$KeyMaps set (KEY_ESC "[1;3D") (kLFT3);      # alt+
$KeyMaps set (KEY_ESC "[1;5D") (kLFT5);      # ctrl+
$KeyMaps set (KEY_ESC "[1;5H") (kHOM5);      # ctrl+
$KeyMaps set (KEY_ESC "[1;5F") (kEND5);      # ctrl+
$KeyMaps set (KEY_ESC "[1;2P") (KEY_F13);    # shift+
$KeyMaps set (KEY_ESC "[1;2Q") (KEY_F14);    # shift+
$KeyMaps set (KEY_ESC "[1;2R") (KEY_F15);    # shift+
$KeyMaps set (KEY_ESC "[1;2S") (KEY_F16);    # shift+
$KeyMaps set (KEY_ESC "[15;2~") (KEY_F17);   # shift+
$KeyMaps set (KEY_ESC "[17;2~") (KEY_F18);   # shift+
$KeyMaps set (KEY_ESC "[18;2~") (KEY_F19);   # shift+
$KeyMaps set (KEY_ESC "[19;2~") (KEY_F20);   # shift+
$KeyMaps set (KEY_ESC "[20;2~") (KEY_F21);   # shift+
$KeyMaps set (KEY_ESC "[21;2~") (KEY_F22);   # shift+
$KeyMaps set (KEY_ESC "[23;2~") (KEY_F23);   # shift+
$KeyMaps set (KEY_ESC "[24;2~") (KEY_F24);   # shift+
$KeyMaps set (KEY_ESC "[1;5P") (KEY_F25);    # ctrl+
$KeyMaps set (KEY_ESC "[1;5Q") (KEY_F26);    # ctrl+
$KeyMaps set (KEY_ESC "[1;5R") (KEY_F27);    # ctrl+
$KeyMaps set (KEY_ESC "[1;5S") (KEY_F28);    # ctrl+
$KeyMaps set (KEY_ESC "[15;5~") (KEY_F29);   # ctrl+
$KeyMaps set (KEY_ESC "[17;5~") (KEY_F30);   # ctrl+
$KeyMaps set (KEY_ESC "[18;5~") (KEY_F31);   # ctrl+
$KeyMaps set (KEY_ESC "[19;5~") (KEY_F32);   # ctrl+
$KeyMaps set (KEY_ESC "[20;5~") (KEY_F33);   # ctrl+
$KeyMaps set (KEY_ESC "[21;5~") (KEY_F34);   # ctrl+
$KeyMaps set (KEY_ESC "[23;5~") (KEY_F35);   # ctrl+
$KeyMaps set (KEY_ESC "[24;5~") (KEY_F36);   # ctrl+
$KeyMaps set (KEY_ESC "[1;6P") (KEY_F37);    # shift+ctrl+
$KeyMaps set (KEY_ESC "[1;6Q") (KEY_F38);    # shift+ctrl+
$KeyMaps set (KEY_ESC "[1;6R") (KEY_F39);    # shift+ctrl+
$KeyMaps set (KEY_ESC "[1;6S") (KEY_F40);    # shift+ctrl+
$KeyMaps set (KEY_ESC "[15;6~") (KEY_F41);   # shift+ctrl+
$KeyMaps set (KEY_ESC "[17;6~") (KEY_F42);   # shift+ctrl+
$KeyMaps set (KEY_ESC "[18;6~") (KEY_F43);   # shift+ctrl+
$KeyMaps set (KEY_ESC "[19;6~") (KEY_F44);   # shift+ctrl+
$KeyMaps set (KEY_ESC "[20;6~") (KEY_F45);   # shift+ctrl+
$KeyMaps set (KEY_ESC "[21;6~") (KEY_F46);   # shift+ctrl+
$KeyMaps set (KEY_ESC "[23;6~") (KEY_F47);   # shift+ctrl+
$KeyMaps set (KEY_ESC "[24;6~") (KEY_F48);   # shift+ctrl+
## $KeyMaps set (KEY_ESC "") (KEY_F49);   # alt+  ... Alt key combination is preemptived by system
## $KeyMaps set (KEY_ESC "") (KEY_F50);   # alt+  ... Alt key combination is preemptived by system
## $KeyMaps set (KEY_ESC "") (KEY_F51);   # alt+  ... Alt key combination is preemptived by system
## $KeyMaps set (KEY_ESC "") (KEY_F52);   # alt+  ... Alt key combination is preemptived by system
## $KeyMaps set (KEY_ESC "") (KEY_F53);   # alt+  ... Alt key combination is preemptived by system
## $KeyMaps set (KEY_ESC "") (KEY_F54);   # alt+  ... Alt key combination is preemptived by system
## $KeyMaps set (KEY_ESC "") (KEY_F55);   # alt+  ... Alt key combination is preemptived by system
## $KeyMaps set (KEY_ESC "") (KEY_F56);   # alt+  ... Alt key combination is preemptived by system
## $KeyMaps set (KEY_ESC "") (KEY_F57);   # alt+  ... Alt key combination is preemptived by system
## $KeyMaps set (KEY_ESC "") (KEY_F58);   # alt+  ... Alt key combination is preemptived by system
## $KeyMaps set (KEY_ESC "") (KEY_F59);   # alt+  ... Alt key combination is preemptived by system
## $KeyMaps set (KEY_ESC "") (KEY_F60);   # alt+  ... Alt key combination is preemptived by system
$KeyMaps set (KEY_ESC "[1;4P") (KEY_F61);   # shift+alt+
$KeyMaps set (KEY_ESC "[1;4Q") (KEY_F62);   # shift+alt+
$KeyMaps set (KEY_ESC "[1;4R") (KEY_F63);   # shift+alt+
