### Shift+Alt-F4 -- Shift+Alt+F12 ==> KEY_F64 -- KEY_F72
$KeyMaps set (KEY_ESC "[1;4S")	(KEY_F64);
$KeyMaps set (KEY_ESC "[15;4~") (KEY_F65);
$KeyMaps set (KEY_ESC "[17;4~") (KEY_F66);
$KeyMaps set (KEY_ESC "[18;4~") (KEY_F67);
$KeyMaps set (KEY_ESC "[19;4~") (KEY_F68);
$KeyMaps set (KEY_ESC "[20;4~") (KEY_F69);
$KeyMaps set (KEY_ESC "[21;4~") (KEY_F70);
$KeyMaps set (KEY_ESC "[23;4~") (KEY_F71);
$KeyMaps set (KEY_ESC "[24;4~") (KEY_F72);

### Control+Alt-F1 -- Control+Alt+F12 ==> KEY_F73 -- KEY_F84
$KeyMaps set (KEY_ESC "[1;7P") (KEY_F73);
$KeyMaps set (KEY_ESC "[1;7Q") (KEY_F74);
$KeyMaps set (KEY_ESC "[1;7R") (KEY_F75);
$KeyMaps set (KEY_ESC "[1;7S") (KEY_F76);
$KeyMaps set (KEY_ESC "[15;7~") (KEY_F77);
$KeyMaps set (KEY_ESC "[17;7~") (KEY_F78);
$KeyMaps set (KEY_ESC "[18;7~") (KEY_F79);
$KeyMaps set (KEY_ESC "[19;7~") (KEY_F80);
$KeyMaps set (KEY_ESC "[20;7~") (KEY_F81);
$KeyMaps set (KEY_ESC "[21;7~") (KEY_F82);
$KeyMaps set (KEY_ESC "[23;7~") (KEY_F83);
$KeyMaps set (KEY_ESC "[24;7~") (KEY_F84);

### Control+Shift+Alt-F1 -- Control+Shift+Alt+F12 ==> KEY_F85 -- KEY_F96
$KeyMaps set (KEY_ESC "[1;8P") (KEY_F85);
$KeyMaps set (KEY_ESC "[1;8Q") (KEY_F86);
$KeyMaps set (KEY_ESC "[1;8R") (KEY_F87);
$KeyMaps set (KEY_ESC "[1;8S") (KEY_F88);
$KeyMaps set (KEY_ESC "[15;8~") (KEY_F89);
$KeyMaps set (KEY_ESC "[17;8~") (KEY_F90);
$KeyMaps set (KEY_ESC "[18;8~") (KEY_F91);
$KeyMaps set (KEY_ESC "[19;8~") (KEY_F92);
$KeyMaps set (KEY_ESC "[20;8~") (KEY_F93);
$KeyMaps set (KEY_ESC "[21;8~") (KEY_F94);
$KeyMaps set (KEY_ESC "[23;8~") (KEY_F95);
$KeyMaps set (KEY_ESC "[24;8~") (KEY_F96);

### Control+Shift+Alt+(Insert,Delete,Home,End,PageUp,PageDown)
$KeyMaps set (KEY_ESC "[2;8~")  (kIC8);
$KeyMaps set (KEY_ESC "[3;8~")  (kDC8);
$KeyMaps set (KEY_ESC "[1;8H")  (kHOM8);
$KeyMaps set (KEY_ESC "[1;8F")  (kEND8);
$KeyMaps set (KEY_ESC "[5;8~")  (kPRV8);
$KeyMaps set (KEY_ESC "[6;8~")  (kNXT8);

### Control+Shift+Alt+(DownAllow,UpAllow,RightAllow,LeftAllow)
$KeyMaps set (KEY_ESC "[1;8B")  (kDN8);
$KeyMaps set (KEY_ESC "[1;8A")  (kUP8);
$KeyMaps set (KEY_ESC "[1;8C")  (kRIT8);
$KeyMaps set (KEY_ESC "[1;8D")  (kLFT8);

### Alt+*
$KeyMaps set (KEY_ESC "a")  (ALT_a);
$KeyMaps set (KEY_ESC "b")  (ALT_b);
$KeyMaps set (KEY_ESC "c")  (ALT_c);
$KeyMaps set (KEY_ESC "d")  (ALT_d);
$KeyMaps set (KEY_ESC "e")  (ALT_e);
$KeyMaps set (KEY_ESC "f")  (ALT_f);
$KeyMaps set (KEY_ESC "g")  (ALT_g);
$KeyMaps set (KEY_ESC "h")  (ALT_h);
$KeyMaps set (KEY_ESC "i")  (ALT_i);
$KeyMaps set (KEY_ESC "j")  (ALT_j);
$KeyMaps set (KEY_ESC "k")  (ALT_k);
$KeyMaps set (KEY_ESC "l")  (ALT_l);
$KeyMaps set (KEY_ESC "m")  (ALT_m);
$KeyMaps set (KEY_ESC "n")  (ALT_n);
$KeyMaps set (KEY_ESC "o")  (ALT_o);
$KeyMaps set (KEY_ESC "p")  (ALT_p);
$KeyMaps set (KEY_ESC "q")  (ALT_q);
$KeyMaps set (KEY_ESC "r")  (ALT_r);
$KeyMaps set (KEY_ESC "s")  (ALT_s);
$KeyMaps set (KEY_ESC "t")  (ALT_t);
$KeyMaps set (KEY_ESC "u")  (ALT_u);
$KeyMaps set (KEY_ESC "v")  (ALT_v);
$KeyMaps set (KEY_ESC "w")  (ALT_w);
$KeyMaps set (KEY_ESC "x")  (ALT_x);
$KeyMaps set (KEY_ESC "y")  (ALT_y);
$KeyMaps set (KEY_ESC "z")  (ALT_z);

$KeyMaps set (KEY_ESC "A")  (ALT_A);
$KeyMaps set (KEY_ESC "B")  (ALT_B);
$KeyMaps set (KEY_ESC "C")  (ALT_C);
$KeyMaps set (KEY_ESC "D")  (ALT_D);
$KeyMaps set (KEY_ESC "E")  (ALT_E);
$KeyMaps set (KEY_ESC "F")  (ALT_F);
$KeyMaps set (KEY_ESC "G")  (ALT_G);
$KeyMaps set (KEY_ESC "H")  (ALT_H);
$KeyMaps set (KEY_ESC "I")  (ALT_I);
$KeyMaps set (KEY_ESC "J")  (ALT_J);
$KeyMaps set (KEY_ESC "K")  (ALT_K);
$KeyMaps set (KEY_ESC "L")  (ALT_L);
$KeyMaps set (KEY_ESC "M")  (ALT_M);
$KeyMaps set (KEY_ESC "N")  (ALT_N);
$KeyMaps set (KEY_ESC "O")  (ALT_O);
$KeyMaps set (KEY_ESC "P")  (ALT_P);
$KeyMaps set (KEY_ESC "Q")  (ALT_Q);
$KeyMaps set (KEY_ESC "R")  (ALT_R);
$KeyMaps set (KEY_ESC "S")  (ALT_S);
$KeyMaps set (KEY_ESC "T")  (ALT_T);
$KeyMaps set (KEY_ESC "U")  (ALT_U);
$KeyMaps set (KEY_ESC "V")  (ALT_V);
$KeyMaps set (KEY_ESC "W")  (ALT_W);
$KeyMaps set (KEY_ESC "X")  (ALT_X);
$KeyMaps set (KEY_ESC "Y")  (ALT_Y);
$KeyMaps set (KEY_ESC "Z")  (ALT_Z);

$KeyMaps set (KEY_ESC "0")  (ALT_0);
$KeyMaps set (KEY_ESC "1")  (ALT_1);
$KeyMaps set (KEY_ESC "2")  (ALT_2);
$KeyMaps set (KEY_ESC "3")  (ALT_3);
$KeyMaps set (KEY_ESC "4")  (ALT_4);
$KeyMaps set (KEY_ESC "5")  (ALT_5);
$KeyMaps set (KEY_ESC "6")  (ALT_6);
$KeyMaps set (KEY_ESC "7")  (ALT_7);
$KeyMaps set (KEY_ESC "8")  (ALT_8);
$KeyMaps set (KEY_ESC "9")  (ALT_9);

$KeyMaps set (KEY_ESC " ")  (ALT_space);
$KeyMaps set (KEY_ESC "!")  (ALT_exclamation);
$KeyMaps set (KEY_ESC "\"") (ALT_quote);
$KeyMaps set (KEY_ESC "#")  (ALT_number);
$KeyMaps set (KEY_ESC "$")  (ALT_doller);
$KeyMaps set (KEY_ESC "%")  (ALT_percent);
$KeyMaps set (KEY_ESC "&")  (ALT_ampersand);
$KeyMaps set (KEY_ESC "'")  (ALT_singlequote);
$KeyMaps set (KEY_ESC "(")  (ALT_leftparenthesis);
$KeyMaps set (KEY_ESC ")")  (ALT_rightparenthesis);
$KeyMaps set (KEY_ESC "*")  (ALT_asterisk);
$KeyMaps set (KEY_ESC "+")  (ALT_plus);
$KeyMaps set (KEY_ESC ",")  (ALT_comma);
$KeyMaps set (KEY_ESC "-")  (ALT_hyphen);
$KeyMaps set (KEY_ESC ".")  (ALT_period);
$KeyMaps set (KEY_ESC "/")  (ALT_slash);
$KeyMaps set (KEY_ESC ":")  (ALT_colon);
$KeyMaps set (KEY_ESC ";")  (ALT_semicolon);
$KeyMaps set (KEY_ESC "<")  (ALT_less);
$KeyMaps set (KEY_ESC "=")  (ALT_equal);
$KeyMaps set (KEY_ESC ">")  (ALT_greater);
$KeyMaps set (KEY_ESC "?")  (ALT_question);
$KeyMaps set (KEY_ESC "@")  (ALT_at);
$KeyMaps set (KEY_ESC "[")  (ALT_leftbracket);
$KeyMaps set (KEY_ESC "\\") (ALT_backslash);
$KeyMaps set (KEY_ESC "]")  (ALT_rightbracket);
$KeyMaps set (KEY_ESC "^")  (ALT_caret);
$KeyMaps set (KEY_ESC "_")  (ALT_underscore);
$KeyMaps set (KEY_ESC "`")  (ALT_backquote);
$KeyMaps set (KEY_ESC "{")  (ALT_leftbrace);
$KeyMaps set (KEY_ESC "|")  (ALT_verticalbar);
$KeyMaps set (KEY_ESC "}")  (ALT_rightbrace);
$KeyMaps set (KEY_ESC "~")  (ALT_tilde);

### for FreeBSD mate-terminal settings
$KeyMaps set (KEY_ESC "[1;2B") (KEY_SF);     # shift+
$KeyMaps set (KEY_ESC "[1;3B") (kDN3);       # alt+
$KeyMaps set (KEY_ESC "[1;4B") (kDN4);       # shift+alt+
$KeyMaps set (KEY_ESC "[1;5B") (kDN5);       # ctrl+
$KeyMaps set (KEY_ESC "[1;2A") (KEY_SR);     # shift+
$KeyMaps set (KEY_ESC "[1;3A") (kUP3);       # alt+
$KeyMaps set (KEY_ESC "[1;4A") (kUP4);       # shift+alt+
$KeyMaps set (KEY_ESC "[1;5A") (kUP5);       # ctrl+
$KeyMaps set (KEY_ESC "[1;2C") (KEY_SRIGHT); # shift+
$KeyMaps set (KEY_ESC "[1;3C") (kRIT3);      # alt+
$KeyMaps set (KEY_ESC "[1;4C") (kRIT4);      # shift+alt+
$KeyMaps set (KEY_ESC "[1;5C") (kRIT5);      # ctrl+
$KeyMaps set (KEY_ESC "[1;2D") (KEY_SLEFT);  # shift+
$KeyMaps set (KEY_ESC "[1;3D") (kLFT3);      # alt+
$KeyMaps set (KEY_ESC "[1;4D") (kLFT4);      # shift+alt+
$KeyMaps set (KEY_ESC "[1;5D") (kLFT5);      # ctrl+
$KeyMaps set (KEY_ESC "[1;5H") (kHOM5);      # ctrl+
$KeyMaps set (KEY_ESC "[1;5F") (kEND5);      # ctrl+
$KeyMaps set (KEY_ESC "[3;2~") (kDC2);       # shift+
$KeyMaps set (KEY_ESC "[3;3~") (kDC3);       # alt+
$KeyMaps set (KEY_ESC "[3;4~") (kDC4);       # shift+alt+
$KeyMaps set (KEY_ESC "[3;5~") (kDC5);       # ctrl+
$KeyMaps set (KEY_ESC "[1;2P") (KEY_F13);    # shift+
$KeyMaps set (KEY_ESC "[1;2Q") (KEY_F14);    # shift+
$KeyMaps set (KEY_ESC "[1;2R") (KEY_F15);    # shift+
$KeyMaps set (KEY_ESC "[1;2S") (KEY_F16);    # shift+
$KeyMaps set (KEY_ESC "[15;2~") (KEY_F17);   # shift+
$KeyMaps set (KEY_ESC "[17;2~") (KEY_F18);   # shift+
$KeyMaps set (KEY_ESC "[18;2~") (KEY_F19);   # shift+
$KeyMaps set (KEY_ESC "[19;2~") (KEY_F20);   # shift+
$KeyMaps set (KEY_ESC "[20;2~") (KEY_F21);   # shift+
$KeyMaps set (KEY_ESC "[21;2~") (KEY_F22);   # shift+
$KeyMaps set (KEY_ESC "[23;2~") (KEY_F23);   # shift+
$KeyMaps set (KEY_ESC "[24;2~") (KEY_F24);   # shift+
$KeyMaps set (KEY_ESC "[1;5P") (KEY_F25);    # ctrl+
$KeyMaps set (KEY_ESC "[1;5Q") (KEY_F26);    # ctrl+
$KeyMaps set (KEY_ESC "[1;5R") (KEY_F27);    # ctrl+
$KeyMaps set (KEY_ESC "[1;5S") (KEY_F28);    # ctrl+
$KeyMaps set (KEY_ESC "[15;5~") (KEY_F29);   # ctrl+
$KeyMaps set (KEY_ESC "[17;5~")(KEY_F30);   # ctrl+
$KeyMaps set (KEY_ESC "[18;5~") (KEY_F31);   # ctrl+
$KeyMaps set (KEY_ESC "[19;5~") (KEY_F32);   # ctrl+
$KeyMaps set (KEY_ESC "[20;5~") (KEY_F33);   # ctrl+
$KeyMaps set (KEY_ESC "[21;5~") (KEY_F34);   # ctrl+
$KeyMaps set (KEY_ESC "[23;5~") (KEY_F35);   # ctrl+
$KeyMaps set (KEY_ESC "[24;5~") (KEY_F36);   # ctrl+
$KeyMaps set (KEY_ESC "[1;6P") (KEY_F37);    # shift+ctrl+
$KeyMaps set (KEY_ESC "[1;6Q") (KEY_F38);    # shift+ctrl+
$KeyMaps set (KEY_ESC "[1;6R") (KEY_F39);    # shift+ctrl+
$KeyMaps set (KEY_ESC "[1;6S") (KEY_F40);    # shift+ctrl+
$KeyMaps set (KEY_ESC "[15;6~") (KEY_F41);   # shift+ctrl+
$KeyMaps set (KEY_ESC "[17;6~") (KEY_F42);   # shift+ctrl+
$KeyMaps set (KEY_ESC "[18;6~") (KEY_F43);   # shift+ctrl+
$KeyMaps set (KEY_ESC "[19;6~") (KEY_F44);   # shift+ctrl+
$KeyMaps set (KEY_ESC "[20;6~") (KEY_F45);   # shift+ctrl+
$KeyMaps set (KEY_ESC "[21;6~") (KEY_F46);   # shift+ctrl+
$KeyMaps set (KEY_ESC "[23;6~") (KEY_F47);   # shift+ctrl+
$KeyMaps set (KEY_ESC "[24;6~") (KEY_F48);   # shift+ctrl+
## $KeyMaps set (KEY_ESC "") (KEY_F49);   # alt+  ... Alt key combination is preemptived by system
## $KeyMaps set (KEY_ESC "") (KEY_F50);   # alt+  ... Alt key combination is preemptived by system
## $KeyMaps set (KEY_ESC "") (KEY_F51);   # alt+  ... Alt key combination is preemptived by system
## $KeyMaps set (KEY_ESC "") (KEY_F52);   # alt+  ... Alt key combination is preemptived by system
## $KeyMaps set (KEY_ESC "") (KEY_F53);   # alt+  ... Alt key combination is preemptived by system
## $KeyMaps set (KEY_ESC "") (KEY_F54);   # alt+  ... Alt key combination is preemptived by system
## $KeyMaps set (KEY_ESC "") (KEY_F55);   # alt+  ... Alt key combination is preemptived by system
## $KeyMaps set (KEY_ESC "") (KEY_F56);   # alt+  ... Alt key combination is preemptived by system
## $KeyMaps set (KEY_ESC "") (KEY_F57);   # alt+  ... Alt key combination is preemptived by system
## $KeyMaps set (KEY_ESC "") (KEY_F58);   # alt+  ... Alt key combination is preemptived by system
## $KeyMaps set (KEY_ESC "") (KEY_F59);   # alt+  ... Alt key combination is preemptived by system
## $KeyMaps set (KEY_ESC "") (KEY_F60);   # alt+  ... Alt key combination is preemptived by system
$KeyMaps set (KEY_ESC "[1;4P") (KEY_F61);   # shift+alt+
$KeyMaps set (KEY_ESC "[1;4Q") (KEY_F62);   # shift+alt+
$KeyMaps set (KEY_ESC "[1;4R") (KEY_F63);   # shift+alt+
